header .termin-buchen-btn {
  background-color: var(--color-main-yellow) !important;
}
header .termin-buchen-btn:hover {
  background-color: var(--color-main-green) !important;
}

@import "tailwindcss";

.termin-buchen-btn {
  background-color: var(--color-main-yellow) !important;
}
.termin-buchen-btn:hover {
  background-color: var(--color-main-green) !important;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
  --color-main-green: rgb(0, 235, 172);
  --color-main-yellow: rgb(238, 193, 107);
  --color-white: #fff;
  --color-black: #000;
}


@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
